body {
    background-color: #f8f8f8;
}
.main-header {
    background-color: #f39301;
}
.main-header .main-menu {
    background-color: #f39301;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.main-header .main-menu nav li {
    padding: 0.5em
}
.main-header .main-menu nav li a{
    color: white;
    display: inline-block;
    text-transform: uppercase;
    padding: 0
}
.main-header .main-menu + div {
    margin-top: 40px;
}
.title h1 {
    font-weight: 800;
}
.main-header .search {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.content {
    padding-top: 50px;
}
.beer-list {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 20px;
    grid-auto-rows: 1fr;
    grid-row-gap: 20px;
    justify-content: center;
}
.beer-name {
    color: #f39301;
    margin-top: 5px;
    text-align: center
}
.beer-tag {
    color: #b7b7b7;
    font-size: 0.9em;
    text-align: center;
}
.beer-card {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.07), 1px 4px 7px rgba(0, 0, 0, 0.06);
    min-height: 230px;
    padding: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}
.beer-card:hover {
    box-shadow: -1px 2px 20px 6px rgba(0, 0, 0, 0.07), 1px 4px 7px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transform: scale(1.05);
}
.beer-img {
    display: flex;
    justify-content: center;
}
.beer-img img {
    height: 100px;
}
.beer-favourite {
    position: absolute;
    top: 5px;
    right: 5px;
}
.favorite {
    color: #f39301;
}
.modal-header {
    border: none;
    padding: 1em 1em 0;
}
.modal-body {
    padding: 0 1em;
}
/*
 * Detail beer modal
 */
.detail-beer .modal-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image info"
        "suggestion suggestion";
        grid-column-gap: 10px;
        grid-row-gap: 15px;
}
.detail-beer .modal-body  .detail-image {
    grid-area: image;
}
.detail-beer .modal-body  .detail-image img {
    height: 300px;
}
.detail-beer .modal-body .info {
    color:  #8f9498;
    font-size:13px;
    grid-area: info;
    text-align: left;
}
.detail-beer .modal-body .info .detail-name {
    color: #f39301;
    font-size: 1.6em;
}
.detail-beer .modal-body .suggestion {
    grid-area: suggestion;
    color: #f39301;
    font-size: 1.2em;
}
.detail-beer .modal-body .suggestion .similar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.detail-beer .modal-body .suggestion .similar > div {
    border: 1px solid #d2d7da;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 15px 10px 5px;
    font-size: 0.8em;
    grid-column-gap: 5px;
}
.detail-beer .modal-body .suggestion .similar img {
    height: 150px;
}
.detail-beer .modal-body .suggestion .similar strong {
    color:  #8f9498;
    text-align: center;
}
@media screen and (max-width: 991px) {
    .beer-list {
        grid-template-columns: repeat(2, 350px);
    }
    .beer-card {
        min-height: 300px;
    }
    .beer-img img {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
    .beer-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .beer-img img {
        height: 170px;
    }
}